<!DOCTYPE html>
<html>
  <head>
    <title>About the Organizer</title>
  </head>
  <body style="background-image: linear-gradient(to bottom, #0B5394, #F4900C); font-family: Arial, sans-serif;">
    <div style="margin: 50px auto; max-width: 800px; background-color: to bottom, #0B5394, #F4900C; padding: 20px; border-radius: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);">
      <h1 style="text-align: center; color: #333; margin-bottom: 20px;">About the Organizer</h1>
      <div style="display: flex; align-items: center; margin-bottom: 20px;">
        <img src="../static/img/logo.png" alt="Organizer Image" style="height:90px; width:90 px; border-radius: 5px; margin-right: 0px;">
        <p style="color: #333;">The C3 provides a variety of services, tools, networks and events for UF students and alumni. Whether exploring career options, developing professional skills, finding meaningful experience, or preparing for life after graduation, the C3 is there to help students on their unique journey.</p>
      </div>
      <h2 style="color: #333; margin-bottom: 10px;">Contact Information</h2>
      <ul style="list-style: none; padding: 0; margin: 0 0 20px 0;">
        <li style="margin-bottom: 10px;"><strong>Phone:</strong> 123-456-7890</li>
        <li style="margin-bottom: 10px;"><strong>Email:</strong> organizer@example.com</li>
        <li style="margin-bottom: 10px;"><strong>Address:</strong> 123 Main St, Anytown USA 12345</li>
      </ul>
      <h2 style="color: #333; margin-bottom: 10px;">Social Media</h2>
      <div style="display: flex;">
        <a href="#" style="display: inline-block; margin-right: 10px;">
          <img src="../static/img/instagram.png" alt="Instagram" style="width: 50px; height: 50px;">
        </a>
        <a href="#" style="display: inline-block;">
          <img src="../static/img/twitter.png" alt="Twitter" style="width: 50px; height: 50px;">
        </a>
      </div>
    </div>
  </body>
</html>
